
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-size: 25px;
    letter-spacing: 2px;
}

.form{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    .input{
        margin: 10px 0;
        border-radius: 25px;
        padding: 10px;
        font-size: 18px;
    }
    .input:focus{
        outline: none;
    }
    button{
        width: 10vw;
        padding: 5px 0;
        cursor: pointer;
        text-align: center;
    }
}